body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2b2b2b;
}

h1 {
  color: #fff;
}

#grid,
#controls {
  border: 3px solid #ccc;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

#controls {
  display: flex;
  flex-direction: row;
  background: #ccc;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-right: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  background: #e3e3e3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
}

.control {
  width: auto;
  padding: 0 5px;
  margin: 0 5px;
}

#emoji {
  all: unset;
  font-size: 2rem;
  cursor: pointer;
}

.revealed {
  border: 3px solid #bcbcbc;
  background: #ccc;
}

.b-1 {
  color: blue;
}

.b-2 {
  color: green;
}

.b-3 {
  color: red;
}

.b-4 {
  color: purple;
}

.b-5 {
  color: orange;
}

.b-6 {
  color: yellow;
}

.b-7 {
  color: black;
}

.b-8 {
  color: grey;
}

.bomb {
  background-color: red;
  border-color: red;
}

#flag.active {
  background: #ffec7c;
  border-color: #ffec7c;
}

#shortcuts {
  position: absolute;
  top: 0;
  left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 100;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  margin-top: 10px;
}

#difficulty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}


.d-btn {
  transition: all .2s;
}

.d-btn:active,
.d-active {
  background: #ccc;
  border-color: transparent;
  transition: all .2s;
  color: #a00;
}

.shortcut.active {
  color: green;
}

.shortcut.active kbd {
  background: green;
  color: white;
}

.highlighted {
  background: #ffec7c;
}

.wallhack {

  opacity: .8;
}

.flagged {
  border-color: #e8d256;
  background: repeating-linear-gradient(45deg,
      #ffec7c,
      #ffec7c 10px,
      #e8d256 10px,
      #e8d256 20px);
}

.mt-1 {
  margin-top: 1rem;
}

.disabled {
  pointer-events: none;
}

#mines {
  font-size: 2rem;
  font-weight: bold;
  font-family: monospace;
  background: #e34747;
  padding: 2px 10px;
}